<!DOCTYPE html>
<html>
{{>headerLogin}}
<head>
    <title>Primera pagina</title>
    <link href="css/style.css" rel="stylesheet" type = "text/css">
    <h1>{{estudiante}}</h1>
</head>
<body>
    <img src="" alt="">
</body>
{{>footer}}
</html>